* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.nav--container {
  display: flex;

  height: 70px;
  align-items: center;

  padding-left: 30px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero--container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.hero--image__container {
  display: flex;
  justify-content: center;
}

.hero--image {
  width: 75%;
}

.hero--title {
  font-size: 144px;
  font-weight: 600;
  color: #000000;
  line-height: 110%;

  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.hero--text {
  font-size: 72px;
  font-weight: 300;

  color: #222222;

  margin-left: 30px;
  margin-right: 580px;
}

/*  CARD  */
/*  CARD  */
/*  CARD  */
/*  CARD  */

.card--container {
  margin-left: 30px;
  max-width: 500px;

  margin-top: 80px;
  margin-bottom: 50px;
}

.card--image {
  width: 500px;
  border-radius: 25px;
}

.card--star {
  width: 21px;
  display: inline;
  margin-right: 5px;
}

.card--rating {
  display: inline;
  font-size: 24px;
}

.card--rating-span {
  color: #918e9b;
}

.card--title {
  font-size: 24px;
  font-weight: 300;
  color: #222222;
  line-height: 200%;
}

.card--cost {
  font-size: 24px;
}

.card--cost-span {
  font-weight: 600;
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
